<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/teachers/courses/add" method="post">
    <div>name</div>
    <input type="text" name="name"><br>
    <div>Description</div>
    <input type="text" name="description"><br>
    <div>Duration</div>
    <input type="number" name="duration">in second <br>
    <div>Video Url</div>
    <input type="text" name="videoUrl">
    <div>Category</div>
    <select name="CategoryId" >
        <% data.forEach(e=>{ %>
            <option value="<%= e.id%>"><%= e.name %></option>
       <% }) %> 
    </select><br>
    <input type="submit" value="Add New Course">

</form>

<% if (errors) { %>
    <ul>
      <% errors.forEach(e => { %>
      <li><%= e %> </li>
      <% }) %>
    </ul>
    <% } %>
</body>
</html>