<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>belajarDesign</title>
  </head>
  <body>
    <h2>Register Page</h2>
    <form action="/register" method="post">
      <label for="fusername">username:</label><br />
      <input type="text" name="username" id="fusername" /><br />
      <label for="fpassword">password:</label><br />
      <input type="password" name="password" id="fpassword" /><br />
      <label for="femail">email:</label><br />
      <input type="email" name="email" id="femail" /><br />
      <label for="fname">Name:</label><br />
      <input type="text" name="name" id="fname" /><br />
      <label for="fbd">Birth Date:</label><br />
      <input type="date" name="birthDate" id="fbd" /><br />
      <label for="fgender">Gender:</label><br />
      <select name="gender" id="fgender">
        <option value="male">Male</option>
        <option value="female">Female</option></select
      ><br />
      <button type="submit">Sign In</button>
    </form>
    <br />
    <% if (listError) { %>
    <ul>
      <% listError.forEach(e => { %>
      <li><%= e %> </li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
